@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*CORES */
:root{
    --body-color: #99caf7;
    --nav-color:#4070F4;
    --side-nav:#010718;
    --text-color:#FFF;
    --search-bar:#F2F2F2;
    --search-text:#010718;
}

body{
    height: 100vh;
    background-color: var(--body-color);
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    background-color: var(--nav-color);
    width: 100%;
}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 100px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
    
}

.nav-links li a{
    position: relative;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    padding: 100px;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    color: var(--text-color);
}

nav .nav-bar .logo a::before{
    content: '';
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}