@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    border: 0;
}

/*Cores Padrões da Página */
:root{
    --body-color: #99CAF7;
    --nav-color: #4070f4;
    --side-nav:#010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}

body{
    background-color: var(--body-color);
    height: 100vh;
}

/*Estilizando a Nav e Nav-Bar */
nav{
    position: fixed;
    top:0;
    left: 0;
    height: 70px;
    background-color: var(--nav-color);
    width: 100%;
}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: red; /*Modificar essa cor ao final*/
    margin: 0 auto; /*Observe quando essa linha for acrescentada*/
    padding: 0 30px;/*Observe quando essa linha for acrescentada*/
    background-color: var(--nav-color);/*Subsistitui a cor anterior*/
    display: flex;/*Observe quando essa linha for acrescentada*/
    align-items: center;/*Observe quando essa linha for acrescentada*/
    justify-content: space-between;
}

/*Estilizando Nav-Bar/Nav-Links/LI/A */
.nav-bar .nav-links{
    display: flex;/*Observe quando essa linha for acrescentada*/
    align-items: center;
}

.nav-bar .nav-links li{
    list-style:none;/*Observe as possibilidade de lista e o que acontece quando se coloca none */
    margin: 0 5px;
}

.nav-links li a{
    position: relative; /*essencial para efeitos visuais futuros */
    text-decoration: none; /*Remove o sublinhado padrão dos links */
    font-size: 17px;
    font-weight: 400; /*
    text-decoration: none; /*Dá peso médio à fonte (entre regular e negrito) */
    color: var(--text-color); /*Cria área clicável maior */
    padding: 10px;
}

/*Estilizando a Logo */
nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}